*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    position: sticky;
    top: 0;
    z-index: 200;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    padding: 20px;
}
.navbar h1{
    font-weight: 600;
    color: #55efc4;
}
#nav-input{
    padding: 15px 40px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #55efc4;
}
#nav-btn{
    padding: 15px 30px;
    position: relative;
    left: 15px;
    background-color: #55efc4;
    color:#fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 600;
}
.inp-cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:30px 0 ;
}
select{
    padding: 15px 40px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.movList{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    overflow: hidden;
}
.movieCard{
    border-radius: 5px;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 5px 0;
}
.time{
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    font-weight: 600;
    background-color: #0000;
    z-index: 1;
    backdrop-filter: blur(20px);
    padding: 5px;
    border-radius: 5px;
}
.movieCard img{
    width: 320px;
    border-radius: 5px;
}
.mtitle{
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: #0000;
    z-index: 1;
    backdrop-filter: blur(20px);
    padding:0 12px 25px 11px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
}
.mtitle h2{
    padding: 10px 0 20px 0;
}
.gen{
    font-size: .8rem;
    padding-top: 7px ;
}
::-webkit-scrollbar{
    width: 18px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: #55efc4;
}
@media only screen and (max-width:1222px){
    .inp-cont{
        flex-direction: column;    
    }
    .inp-cont select{
        margin-bottom: 15px;
    }

}
@media only screen and (max-width:830px){
   #name{
    width: 100%;
   }

}